.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover; /* Sets the entire image in the given height*/
  background-position: top; /* Makes sure that the top of the images always stays as it is */
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); /* translate 50% to its current width and height */
    text-align: center; /* Note - inline-block elements are treated as text and can be centered using text-align property */
  }
}
